.asize-scroll-wrapper{
  float: left;
  overflow: hidden;
  width: 210px;
  height: 80%;
  position: absolute;
  top: 138px;
  bottom: 0;
  left: 0;
  background: #273044;
  z-index: 1000;
  font-size: 20px;
  @media (min-width: 0px)and (max-width: 1200px){
    display: none;
  }
  .aside-left{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    overflow:-moz-scrollbars-none;
    -ms-overflow-style:none;
    &::-webkit-scrollbar {
      width: 0 !important
    }
    .category-list{
      width: 100%;
      cursor: pointer;
      position: relative;
      .category-item{
        box-sizing: border-box;
        color: #a9a9a9;
        border-bottom: 1px solid #121212;
        border-left: 1px solid #121212;
        background: #1b1a20;
        padding: 10px 8px 12px 18px;
        position: relative;
        width: 100%;
        height: 40px;
        font-size: 14px;
        transition: all .25s;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        &:hover{
          background: #4b4d64 !important;
          color: #f6c873;
          border-left: 2px solid #f00406;
        }
        &.active{
          background: #4b4d64  !important;
          color: #f6c873;
          border-left: 2px solid #f00406;
          .icon-arrow{
            display: block !important;
          }
        }
        .all-game{
          width: 24px;
          height: 24px;
          line-height: 24px;
          vertical-align: middle;
          text-align: center;
          display: inline-block;
          background: #000;
          color: #fff;
          font-weight: 700;
        }
        .game-logo{
          width: 24px;
          height: 24px;
          line-height: 24px;
          vertical-align: middle;
          text-align: center;
          display: inline-block;
          background: #000;
          color: #fff;
          font-weight: 700;
        }
        .name{
          flex: 1;
          text-indent: 5px;
          vertical-align: middle;
          display: inline-block;
          margin-left: 10px;
        }
        .num{
          margin-top: 3px;
          width: 60px;
          text-align: center;
          vertical-align: middle;
          margin-left: 10px;
        }
      }
      .active{
        background: #313d57 !important;
      }
    }
  }
}
