.betting{
  top: 100px;
  background-color: #2f3b55;
  transform: translateX(0);
  right: 0;
  position: fixed;
  width: 390px;
  z-index: 11;
  box-shadow: 0 0 15px #000;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.active{
    transform: translateX(0);
  }
  .arrow{
    top: 1px;
    overflow: hidden;
    color: #fff;
    background-color: #000;
    left: 0;
    margin: -1px 0 0 -40px;
    width: 40px;
    height: 40px;
    line-height: 14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .iconfont{

    }
  }
  .header{
    color: #fff;
    background: #000;
    padding: 10px 10px 11px;
    width: 390px;
    box-sizing: border-box;
    font-size: 14px;
    .iconfont{
      color: #6c7995;
      font-size: 18px;
      float: right !important;
      text-decoration: none;
      display: block;
      cursor: pointer;
      margin-top: 1px;
    }
    .more{
      color: white;
      font-size: 14px;
      float: right !important;
      text-decoration: none;
      display: block;
      cursor: pointer;
      margin-top: 1px;
    }
  }
  .container{
    height: 66vh;
    position: relative;
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
  }
  .bottom{
    position: relative;
    bottom: 0;
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #808080;
    z-index: 3;
    background: #636363;
    flex-direction: row;
    display: flex;
    color: white;
    .bet-tab{
      width: 50%;
      text-align: center;
      display: inline-block;
      border-right: 1px solid #808080;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #636363;
      vertical-align: top;
      cursor: pointer;
      &.active{
        background: #ff7800
      }
    }
    .recent-tab{
      width: 50%;
      text-align: center;
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #636363;
      vertical-align: top;
      cursor: pointer;
      &.active{
        background: #ff7800
      }
    }
  }
}
