@import "../../../../styles/utils";
@import "../../../../styles/common";
.betting{
  top: 100px;
  background-color: $betOrderBg4;
  transform: translateX(0);
  right: 0;
  position: fixed;
  width: 390px;
  z-index: 11;
  box-shadow: 0 0 15px #000;
  transition: all .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.active{
    transform: translateX(0);
  }
  .arrow{
    top: 1px;
    overflow: hidden;
    color: #fff;
    background-color: $betOrderBg4;
    left: 0;
    margin: -2px 0 0 -30px;
    width: 30px;
    height: 42px;
    line-height: 14px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .iconfont{

    }
  }
  .header{
    color: #fff;
    padding: 10px 10px 11px;
    width: 390px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid $betOderBorderColor2;

    .iconfont{
      color: #6c7995;
      font-size: 18px;
      float: right !important;
      text-decoration: none;
      display: block;
      cursor: pointer;
      margin-top: 1px;
    }
    .more{
      color: white;
      font-size: 14px;
      float: right !important;
      text-decoration: none;
      display: block;
      cursor: pointer;
      margin-top: 1px;
    }
  }
  .container{
    height: 66vh;
    position: relative;
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    flex-direction: column;
    display: flex;
    font-size: 14px;
    /*投注单列表样式*/
    .bet-box{
      width: 100%;
      flex-direction: column;
      display: flex;
      padding: 6px;
      color: #0F1A22;
      margin-top: 10px;
      .bet-list{
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        .bet-item{
          width: 100%;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 4px;
          .bet-item-header{
            width: 100%;
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
            padding: 8px 4px;
            margin-bottom: 1px;
            border-radius: 4px;
            .icon{
              width:16px;
              height: 16px;
            }
            .title{
              flex:1;
            }
          }
          .bet-item-content{
            width: 100%;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f7f7f7;
            color: #0F1A22;
            border-radius: 4px;
            .handicapInfo{
              width: 100%;
              flex-direction: row;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 5px 3px;
              .handicap{
                flex: 1;
                padding-left: 10px;
              }
              .betMoney{
                flex: 1;
              }
              .win{
                flex: 1;
                text-align: center;
              }
            }
            .winInfo{
              width: 100%;
              flex-direction: row;
              display: flex;
              justify-content: space-around;
              align-items: center;
              padding: 5px 3px;
              .odds{
                width: 52px;
                height: 28px;
                line-height: 28px;
                font-size: 14px;
                text-align: center;
                display: inline-block;
                border-radius: 5px;
                position: relative;
                color: #4d4d4d;
                background-color: $betOrderBg1;
              }
              .odds-change{

              }
              .x{

              }
              .bet-select{
                width: 107px;
                height: 28px;
                display: inline-block;
                position: relative;
                .bet-select-input{
                  text-indent: 3px;
                  outline: none;
                  border: none;
                  background: $betOrderBg3;
                  color: #4d4d4d;
                  border-radius: 4px;
                  width: 100%;
                  height: 100%;
                  box-sizing: border-box;
                  position: relative;
                }
              }
              .equal{

              }
              .money{

              }
              .del{

              }

            }
          }
        }
      }
    }
    /*投注单按钮样式*/
    .bet-total{
      margin: 10px 1px 1px;
      width: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .calc{
        width: 100%;
        background-color: $betOrderBg2;
        border-bottom: 1px solid #a9a9a9;
        padding: 8px 0;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        .left{
          margin-left: 10%;
          width: 50%;
        }
        .right{
          margin-left: 10%;
          width: 50%;
        }
      }
      .button{
        width: 100%;
        background-color: $betOrderBg2;
        padding: 14px 0;
        text-align: center;
        .button-submit{
          margin: 0 auto;
          width: 200px;
          height: 28px;
          display: block;
          font-size: 14px;
          border-radius: 3px;
          color: #4d4d4d;
          background: $betOrderBg1;
          cursor: pointer;
        }
        .warning{
          margin-top: 10px;
          display: block;
          color: #c3c3c3;
      }

      }
    }
    /*近期投注样式*/
    .recent-box{
      width: 100%;
      flex-direction: column;
      display: flex;
      padding: 0 2px;
      color: white;
      margin-top: 4px;
      font-size: 13px;
      .recent-list{
        padding: 4px 4px;
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        display: flex;
        .recent-item{
          width: 100%;
          color: #fff;
          margin-bottom: 8px;
          flex-direction: column;
          display: flex;
          .header{
            width: 100%;
            background: $recentBetBg1;
            padding: 0 8px;
            height: 36px;
            line-height: 36px;
            font-size: 13px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            .title{
              width: 70%;
              @include textOverflow
            }
            .status{
              width: 30%;
            }
          }
          .content{
            width: 100%;
            color: #d7d7d7;
            background: $recentBetBg2;
            padding: 8px;
            font-size: 13px;
            display: flex;
            flex-direction: column;
            .handicap-info{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              padding: 4px 0;
            }
          }
        }
      }
    }
  }
  .bottom{
    position: relative;
    bottom: 0;
    height: 45px;
    line-height: 45px;
    border-top: 1px solid $betOderBorderColor2;
    z-index: 3;
    background: #636363;
    flex-direction: row;
    display: flex;
    color: white;
    .bet-tab{
      width: 50%;
      text-align: center;
      display: inline-block;
      border-right: 1px solid #808080;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: $betOrderBg4;
      vertical-align: top;
      cursor: pointer;
      &.active{
        background: $betOrderBg2
      }
    }
    .recent-tab{
      width: 50%;
      text-align: center;
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: $betOrderBg4;
      vertical-align: top;
      cursor: pointer;
      &.active{
        background: $betOrderBg2
      }
    }
  }
}
