@import "../../../../styles/utils";
.notice-wrapper{
  padding: 4px 0 5px;
  width: 100%;
  overflow: hidden;
  z-index: 4;
  color: #fff;
  position: absolute;
  top: 106px;
  left: 0;
  right: 0;
  font-size: 14px;
  .box{
    margin: 0 auto;
    width: 1120px;
  }
  .nav-notice{
    width: 120px;
    vertical-align: middle;
    display: inline-block;
  }
 .marquee{
   width: 985px;
   position: relative;
   vertical-align: middle;
   white-space: nowrap;
   .msg{
     margin-right: 200px;
     display: inline-block;
     cursor: pointer;
   }
  }
}
.annListTitle{
  @include textOverflow
}
