@import "../../../../../../../styles/common";
@import "../../../../../../../styles/utils";
.bet{
  background: #273044;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  .matchTeam{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    .teamVs{
      width: 448px;
      height: 84px;
      margin-top: 6px;
      position: relative;
      background-image: url("../../../../../../../assets/vs2.png");
      background-repeat: no-repeat;
      background-size:contain;
      font-size: 18px;
      text-align: center;
      .home{
        width: 160px;
        position: absolute;
        top: 32px;
        left: 16px;
        @include textOverflow;
      }
      .gameLogo{
        width: 40px;
        height: 40px;
        position: relative;
        left: 207px;
        top: 20px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .guest{
        width: 160px;
        position: absolute;
        top: 32px;
        right: 16px;
        @include textOverflow;
      }
    }
  }
  .round{
    .round-tab{
      width: 80%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 6px;
      background-color: #273044;
      color: #6c7995;
      .item{
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        padding: 3px 0;
        letter-spacing: 1px;
        &.active{
          color: #273044;
          border-bottom: 2px solid #b00f15;
          background-color: #ffb83b;
          font-weight: 700;
        }
          .text{
            box-sizing: content-box;
            font-size: 14px;
            line-height: 16px;
            padding: 0 10px;
            border-right:1px solid #53678c;
            &:first-child{
              border-left:1px solid #53678c;
            }
          }
      }
    }
  }
  .list{
    width: 100%;
    background-color: #273044;
    .allRound-box{
      color: #fff;
      border-bottom: none;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 4px 0;
      .allRound{
        width: 90%;
        margin: 0 auto;
        height: 84px;
        border-radius: 10px;
        background: linear-gradient(to right,#672a2f, #20416e);
        margin-bottom: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        box-shadow: 0 0 6px #fff inset;
        .home-name{
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction:  column;
          img{
            width: 40px;
            height: 40px;
          }
        }
        .home-odds{
          width: 10%;
          position: relative;
          button{
            width: 64px;
            height: 36px;
            border-radius: 6px;
            background-color: #b00f15;
            outline: none;
            border: none;
            transition: all .2s;
            cursor: pointer;
            &:hover {
              box-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff;
            }
          }
          .increase{
            @include increase(-18px,36px);
          }
          .reduce{
            @include reduce(30px,36px);
          }
        }
        .handicap-name{
          width: 20%;
          text-align: center;
        }
        .guest-name{
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction:  column;
          img{
            width: 40px;
            height: 40px;
          }
        }
        .guest-odds{
          position: relative;
          width: 10%;
          button{
            width: 64px;
            height: 36px;
            border-radius: 6px;
            background-color: #386eb6;
            outline: none;
            border: none;
            transition: all .2s;
            cursor: pointer;
            &:hover {
              box-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff;
            }
          }
          .increase{
            @include increase(-18px,36px);
          }
          .reduce{
            @include reduce(30px,36px);
          }
        }
      }
    }
    .item{
      color: #fff;
      border-bottom: none;
      background-color: $matchDetailBg2;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      &:nth-child(odd){
        background-color: $matchDetailBg1;
      }
      .table-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        .bet-name{
          padding: 0 5px;
          width: 390px;
          font-size: 14px;
          text-align: center;
          box-sizing: border-box;
          border-bottom: 1px solid $matchDetailBorderColor;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .bet-content{
          flex: 1;
          .pankou-row{
            border-bottom: 1px solid $matchDetailBorderColor;
            bottom: 0;
            font-size: 0;
            position: relative;
            box-sizing: border-box;
            background-color: $matchDetailBg1;
            &:nth-child(even){
              background-color: $matchDetailBg2;
            }
            span{
              box-sizing: border-box;
              border-left: 1px solid $matchDetailBorderColor;
              padding: 10px 8px;
              width: 50%;
              min-height: 39px;
              vertical-align: middle;
              display: inline-block;
              font-size: 14px;
              text-align: center;
              position: relative;
            }
            .pankou-name{
              text-align: center;
              @include textOverflow;
            }
            .pankou-result{
              font-weight: 700;
              cursor: pointer;
              &:hover{
                background-color: #e69b16 !important;
              }
            }
          }
        }
      }
    }
  }
}

/*箭头动画*/
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
