.bet{
  background: linear-gradient(#232e3f, #171821);
  width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  .round{
    .round-tab{
      width: 90%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 6px;
      background-color: #273044;
      color: #6c7995;
      .item{
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        padding: 3px 0;
        letter-spacing: 1px;
        &.active{
          color: #273044;
          border-bottom: 2px solid #b00f15;
          background-color: #ffb83b;
          font-weight: 700;
        }
          .text{
            box-sizing: content-box;
            font-size: 14px;
            line-height: 16px;
            padding: 0 10px;
            border-right:1px solid #53678c;
            &:first-child{
              border-left:1px solid #53678c;
            }
          }
      }

    }
  }
  .list{
    width: 100%;
    background-color: #273044;
    .allRound-box{
      color: #fff;
      border-bottom: none;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 4px 0;
      .allRound{
        width: 90%;
        margin: 0 auto;
        height: 60px;
        border-radius: 10px;
        background: linear-gradient(to right,#672a2f, #20416e);
        margin-bottom: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        box-shadow: 0 0 6px #fff inset;
        .home-name{
          width: 10%;
        }
        .home-logo{
          width: 10%;
        }
        .home-odds{
          width: 10%;
          button{
            width: 60px;
            height: 36px;
            border-radius: 6px;
            background-color: #b00f15;
            outline: none;
            border: none;
            transition: all .2s;
            cursor: pointer;
            &:hover {
              box-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff;
            }
          }

        }
        .handicap-name{
          width: 40%;
          text-align: center;
        }
        .guest-name{
          width: 10%;
        }
        .guest-logo{
          width: 10%;
        }
        .guest-odds{
          width: 10%;
          button{
            width: 60px;
            height: 36px;
            border-radius: 6px;
            background-color: #386eb6;
            outline: none;
            border: none;
            transition: all .2s;
            cursor: pointer;
            &:hover {
              box-shadow: 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff;
            }
          }
        }
      }
    }
    .item{
      color: #fff;
      border: 1px solid #000;
      border-bottom: none;
      background-color: #273044;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      &:nth-child(even){
        background-color: #1a2131;
      }
      .table-item{
        width: 100%;
        table-layout: fixed;
        .bet-name{
          padding: 0 5px;
          width: 190px;
          font-size: 14px;
          text-align: center;
          box-sizing: border-box;
        }
        .pankou-row{
          border-bottom: 1px solid #000;
          bottom: 0;
          font-size: 0;
          position: relative;
          background-color: #273044;
          &:nth-child(even){
            background-color: #1a2131;
          }
          &:last-child{
            border-bottom: none;
          }
          span{
            border-left: 1px solid #000;
            padding: 10px 8px;
            width: 50%;
            min-height: 39px;
            vertical-align: middle;
            display: inline-block;
            font-size: 14px;
            text-align: center;
            box-sizing: border-box;
            position: relative;
          }
          .pankou-name{

          }
          .pankou-result{
            font-weight: 700;
            cursor: pointer;
            &:hover{
             background-color: #ff7800 !important;
            }
          }
        }
      }
    }
  }
}
