/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
button,
ol,
ul,
li {
  border: none;
  outline: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#root {
  height: 100%;
}
/* iphonex 安全区域 */
body {
  overflow-x: hidden;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1e1f25;
}
a, a:hover{
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  cursor: pointer;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}
button{
  font-family: inherit;
  outline: none;
}

.msg{
  margin-right: 200px;
  display: inline-block;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}
tr{
  margin: 0;
  padding: 0;
}
td{
  vertical-align:middle
}

.fix-iphonex-bottom{
  padding-bottom: 34px;
}

/*由右至左胡滑动*/
.slides-enter {
  transform: translateX(-50%);
  opacity: 0;
}
.slides-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 400ms;
}
.slides-exit {
  transform: translateX(0);
  opacity: 0;
}
.slides-exit-active {
  transform: translateX(-50%);
  opacity: 1;
  transition: all 400ms;
}
.slides-exit-done {
  opacity: 1;
  transform: translateX(0);
}

.router-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

/*由上至下滑动*/
.upSlides-enter {
  transform: translateY(-10%);
  opacity: 0;
}
.upSlides-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 400ms;
}
.upSlides-exit {
  transform: translateY(0);
  opacity: 0;
}
.upSlides-exit-active {
  transform: translateY(-10%);
  opacity: 1;
  transition: all 400ms;
}
.upSlides-exit-done {
  opacity: 1;
  transform: translateY(0);
}

/*由右至左100%滑动*/
.rightToLeftSlide100-enter {
  transform: translateX(-100%);
  opacity: 0;
}
.rightToLeftSlide100-enter-active {
  transform: translateX(0);
  transition: all 400ms;
}
.rightToLeftSlide100-exit {
  transform: translateX(0);
  opacity: 0;
}
.rightToLeftSlide100-exit-active {
  transform: translateX(-100%);
  transition: all 400ms;
}
.rightToLeftSlide100-exit-done {
  transform: translateX(0);
}

/*路由动画*/
/* src/App5/index.css */

/* 路由前进时的入场/离场动画 */
.forward-enter {
  opacity: 0;
  transform: translateX(100%);
}

.forward-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.forward-exit {
  opacity: 1;
  transform: translateX(0);
}

.forward-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 500ms;
}

/* 路由后退时的入场/离场动画 */
.back-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.back-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms;
}

.back-exit {
  opacity: 1;
  transform: translateX(0);
}

.back-exit-active {
  opacity: 0;
  transform: translate(100%);
  transition: all 500ms;
}

/*覆盖antd的Tabs-Nav样式*/
.ant-tabs-top-bar{
  width: 1200px;
  left: -218px;
  top: -74px;
}
.ant-tabs-nav .ant-tabs-tab-active {
  color: #fff!important;;
  font-weight: 500;
  background: linear-gradient(to bottom,#3e3e6b,#414357)!important;
}
.ant-tabs-nav .ant-tabs-tab{
  padding: 9px 26px;
  margin: 0;
}
.ant-tabs-ink-bar{
  position: absolute;
  bottom: 1px;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  height: 2px;
  background-color: #f1af3a;
  transform-origin: 0 0;
}
.ant-tabs{
  color: white;
  width: 100%;
  overflow: visible !important;
}
.ant-tabs-bar{
  position: relative;
  overflow: visible !important;
  border: none;
  height: 38px;
  margin: 0;
  background:linear-gradient(to bottom, #1a1a20, #4b4d64);
}
.ant-tabs-content{
  position: relative;
  top: -40px;
}
.tabs-pane-wrap {
  overflow-y: visible !important;
}
.tab-bar-item {
  height: auto !important;
  padding-bottom: 100px;
}
.ant-tabs-nav-container {
  position: absolute;
  font-size: 14px;
  color: #c1c1c1;
}

@media (min-width: 0px)and (max-width: 1200px){
  .ant-tabs-top-bar{
    width: 980px;
    left: 0;
    top: -10px;
  }
}

/*覆盖antd的表格样式*/
.ant-table{
  font-size: 12px;
}
.ant-modal-header{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  background: #f5ad35;
  padding: 0;
}
.ant-modal-title {
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #283045;
}

.ant-modal-close-x{
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #283045;
}
.ant-table-thead > tr > th{
  color: white;
  background-color: #313d57;
  border: none;
  align-self: center;
  text-align:center;
}
.ant-table-tbody > tr > td{
  border: none;
  align-self: center;
  color: white;
  text-align:center;
}
.ant-table-tbody > tr:nth-child(even) > td{
  background-color: #21283a;
}
.ant-table-tbody > tr:nth-child(even) > td{
  background-color: #35435e;
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td,
.ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td,
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: #ff7f27;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 12px;
}
/*覆盖antd表格pagination样式*/
.ant-pagination-prev .ant-pagination-item-link{
  border-radius: 50%;
  color: white;
  background-color: #35435e;
  border: none;
}
.ant-pagination-next .ant-pagination-item-link{
  border-radius: 50%;
  color: white;
  background-color: #35435e;
  border: none;
}
.ant-pagination-item{
  color: white;
  background-color: #35435e;
  border-radius: 4px;
  border-color:transparent;
}
.ant-pagination-item a{
  color: white;
  border-radius: 4px;
}
.ant-pagination-item:hover{
  border-color:transparent ;
}
.ant-pagination-item:hover a{
  color: #283045!important;
  background-color: #f5ad35;
}
.ant-pagination-item-active{
  border-color:transparent;
  border-radius: 4px;
}
.ant-pagination-item-active a{
  color: #283045!important;
  background-color: #f5ad35;
  border-radius: 4px;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis{
  color: white;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon{
  color: white;
}
.ant-pagination-prev:hover a,
.ant-pagination-next:hover a {
  background-color: #f5ad35;
  color: #283045!important;
}

/*覆盖antd表格loading以及没有数据的样式*/
.ant-spin-nested-loading > div > .ant-spin{
  background-color: transparent;
}

.ant-spin-blur {
  clear: both;
  overflow: hidden;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.ant-spin-blur::after {
  opacity: 0;
  pointer-events: auto;
}
.ant-spin-tip {
  color: rgba(0, 0, 0, 0.45);
}
.ant-table-placeholder{
  background-color: transparent;
  border: none;
}
.ant-empty-image img {
  display: none;
}
.ant-empty-description{
  color: white;
}

.ant-form label{
  font-size: 12px;
  color: white;
}
.ant-input{
  width: 170px;
  height: 24px;
  color: #fff;
  font-size: 12px;
  background: transparent;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  border: 1px;
}
.ant-calendar-picker-input{
  width: 200px;
}

.ant-table-pagination.ant-pagination{
  margin: 10px auto;
  float: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*覆盖antdbuttonsearch样式*/
.ant-input-search-icon{
  color: white;
}
/*覆盖antd日历样式*/
.ant-calendar{
  background-color: #21293c;
}
.ant-calendar-date{
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding: 0;
  color: white;
  line-height: 18px;
  text-align: center;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background 0.3s ease;
}
.ant-calendar-column-header .ant-calendar-column-header-inner{
  color: white;
}
.ant-calendar-range .ant-calendar-in-range-cell::before{
  background-color: #4c5875;
}
.ant-calendar-selected-date .ant-calendar-date:hover, .ant-calendar-selected-start-date .ant-calendar-date:hover, .ant-calendar-selected-end-date .ant-calendar-date:hover{
  background-color: #f5ad35;
}
.ant-calendar-selected-date .ant-calendar-date:hover, .ant-calendar-selected-start-date .ant-calendar-date:hover, .ant-calendar-selected-end-date .ant-calendar-date:hover{
  background-color: #f5ad35;
}
.ant-calendar-selected-date .ant-calendar-date, .ant-calendar-selected-start-date .ant-calendar-date, .ant-calendar-selected-end-date .ant-calendar-date{
  background: #DD9104!important;
  border-color:  #f5ad35!important;
}
.ant-calendar-today .ant-calendar-date{
  color: #f5ad35!important;
  background-color: transparent!important;
  border-color:  #f5ad35!important;
}
.ant-calendar-date:hover{
  background: #DD9104!important;
  border-color:  #f5ad35!important;
}
.ant-calendar-header .ant-calendar-century-select, .ant-calendar-header .ant-calendar-decade-select, .ant-calendar-header .ant-calendar-year-select, .ant-calendar-header .ant-calendar-month-select{
  color: white;
}
.ant-calendar-header .ant-calendar-prev-century-btn, .ant-calendar-header .ant-calendar-next-century-btn, .ant-calendar-header .ant-calendar-prev-decade-btn, .ant-calendar-header .ant-calendar-next-decade-btn, .ant-calendar-header .ant-calendar-prev-month-btn, .ant-calendar-header .ant-calendar-next-month-btn, .ant-calendar-header .ant-calendar-prev-year-btn, .ant-calendar-header .ant-calendar-next-year-btn{
  color: white;
}
.ant-calendar-range .ant-calendar-input, .ant-calendar-range .ant-calendar-time-picker-input{
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  background-color: transparent!important;
  background-image: none;
  border-radius: 4px;
  transition: all 0.3s;
  height: 24px;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  box-shadow: none;
}
.ant-calendar-last-month-cell .ant-calendar-date, .ant-calendar-next-month-btn-day .ant-calendar-date{
  color: rgb(121,121,121) !important;
}
.ant-calendar-ym-select{
  pointer-events: none;
}

