.aside-right{
  width: 984px;
  position: absolute;
  right: 0;
  top: 140px;
  bottom: 0;
  left: 220px;
  background-color: transparent;
  @media screen and (max-width: 1200px){
    top: 188px;
    left: 0;
  }
  .match-container{
    position: relative;
    width: 100%;
    min-height: 90%;
    flex: 1;
    flex-direction: column;
    display: flex;
    float: left;
    color: white;
    .panel-content{
      height: 100%;
    }
    .search-box{
      margin: 4px 5px 0 0;
      width: 200px;
      height: 24px;
      box-sizing: border-box;
      position: absolute;
      top: -72px;
      right: 10px;
      .countClock{
        top: 6px;
        right: 240px;
        cursor: pointer;
        position: absolute;
        color: white;
      }
      .countdown{
        top: 3px;
        right: 210px;
        cursor: pointer;
        position: absolute;
        color: white;
      }
      .search-input{
        right: 10px;
        top: 1px;
        border: 1px solid #b9b9bb;
        border-radius: 4px;
        float: right;
        width: 185px;
        height: 100%;
        color: #fff;
        background: transparent;
        span{
          color: white;
        }
      }
    }
  }
}
.mask{

}



